<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="pragma" content="no-cache" />

    <title>AHC - Clustering</title>

    <!-- Custom fonts for this template-->
    <link
      href="{{url_for('static', filename='vendor/fontawesome-free/css/all.min.css')}}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template-->
    <link
      href="{{url_for('static', filename='css/sb-admin-2.min.css')}}"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css"
    />
    <style>
      div.dataTables_wrapper {
        width: 100%;
        margin: 0 auto;
      }
    </style>
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <ul
        class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
        id="accordionSidebar"
      >
        <!-- Sidebar - Brand -->
        <a
          class="sidebar-brand d-flex align-items-center justify-content-center"
          href="/"
        >
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
          </div>
          <div class="sidebar-brand-text mx-3">Clustering AHC</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0" />

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
          <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a
          >
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider" />

        <!-- Heading -->
        <div class="sidebar-heading">VIEW</div>

        <!-- Nav Item - preprocessing -->
        <li class="nav-item">
          <a class="nav-link" href="/cleaning">
            <i class="fas fa-fw fa-table"></i>
            <span>Preprocessing</span></a
          >
        </li>

        <!-- Nav Item - Transformasi -->
        <li class="nav-item">
          <a class="nav-link" href="/transformasi">
            <i class="fas fa-fw fa-table"></i>
            <span>Transformasi</span></a
          >
        </li>

        <!-- Nav Item - Cluster -->
        <li class="nav-item active">
          <a class="nav-link" href="#">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Cluster</span></a
          >
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block" />

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <nav
            class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top"
          >
            <!-- Sidebar Toggle (Topbar) -->
            <button
              id="sidebarToggleTop"
              class="btn btn-link d-md-none rounded-circle mr-3"
            >
              <i class="fa fa-bars"></i>
            </button>
          </nav>
          <!-- End of Topbar -->

          <!-- isi konten si sini -->
          <div class="container-fluid">
            <!-- konten -->
            <div class="row" style="width: 100%; height: auto">
              <!-- Donut Chart -->
              <div class="col-xl-6 col-lg-5" style="height: min-content">
                <div class="card shadow mb-4">
                  <!-- Card Header - Dropdown -->
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                      Pie Chart {{cluster_count|safe}} Cluster
                    </h6>
                  </div>

                  <!-- Card Body -->
                  <div class="card-body" style="height: auto">
                    <figure class="figure">
                      <img
                        id="carttt"
                        class="figure-img img-fluid rounded"
                        alt="..."
                      />
                      <script>
                        let rand = Math.random() * 100;
                        let cart2 = document.getElementById("carttt");
                        cart2.setAttribute(
                          "src",
                          `static/img/chart.png?${rand}`
                        );
                      </script>
                    </figure>

                    <hr />
                  </div>
                </div>
              </div>

              <div class="col-xl-6 col-lg-7">
                <div class="card border-left-info shadow py-2 mb-4">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info mb-1">
                          <h5>
                            Hasil Pengujian Cluster dengan Silhouette Score
                          </h5>
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                          {{slh|safe}}
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x"></i>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Area Chart -->
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                      Pengujian Cluster
                    </h6>
                  </div>
                  <div class="card-body">
                    <div class="h-auto">
                      <table class="table">
                        <thead class="table-light">
                          <td>No</td>
                          <td>Silhouette Score</td>
                          <td>Keterangan</td>
                          <td>Penjelasan</td>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1.</td>
                            <td><span>0.7 < SC <= 1</span></td>
                            <td>Strong Structure</td>
                            <td>Sebuah struktur atau pola yang kuat</td>
                          </tr>
                          <tr>
                            <td>2.</td>
                            <td><span>0.5 < SC <= 0.7</span></td>
                            <td>Medium Structure</td>
                            <td>Sebuah struktur atau pola yang masuk akal</td>
                          </tr>
                          <tr>
                            <td>3.</td>
                            <td><span>0.25 < SC <= 0.5</span></td>
                            <td>Weak Structure</td>
                            <td>Struktur atau polanya lemah</td>
                          </tr>
                          <tr>
                            <td>4.</td>
                            <td><span>SC <= 0.25</span></td>
                            <td>No Structure</td>
                            <td>Tidak ada struktur atau pola</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <hr />
                    Ketentuan di atas berdasarkan buku 'Data Mining Concepts and
                    Techniques' Han, J., Kamber, M., & Pei, J. tahun (2012)
                  </div>
                </div>
              </div>
            </div>

            <div class="card-body shadow mb-4">
              <div class="pt-4 pb-2">
                <!-- <img src="static/img/dendogram.png" alt="" /> -->
                <iframe
                  src="static/img/dendogram.png"
                  frameborder="0"
                  class="w-100"
                  style="height: 70vh"
                ></iframe>
              </div>
            </div>

            <div class="card shadow mb-4">
              <div
                class="card-header py-3 text-center"
                style="border-bottom: 0 !important"
              >
                <h4 class="m-0 font-weight-bold text-primary">
                  Data Data Hasil Cluster
                </h4>
              </div>
              <form
                class="card-header form-inline navbar-search justify-content-center"
              >
                <div class="input-group">
                  <input
                    id="column3_search"
                    type="number"
                    class="form-control bg-gray-200 border-0 small"
                    placeholder="cari cluster ..."
                    aria-label="Search"
                    aria-describedby="basic-addon2"
                  />
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                      <i class="fas fa-search fa-sm"></i>
                    </button>
                  </div>
                </div>
              </form>

              <div class="card-body">
                <div class="dataTables_wrapper">
                  {% for data in data_hasil %}
                  <td>{{data|safe}}</td>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; AHC 2022</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js')}}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{url_for('static', filename='js/sb-admin-2.min.js')}}"></script>

    <!-- Page level plugins -->
    <script src="{{url_for('static', filename='vendor/chart.js/Chart.min.js')}}"></script>

    <!-- Page level custom scripts -->
    <script src="{{url_for('static', filename='js/demo/chart-area-demo.js')}}"></script>
    <script src="{{url_for('static', filename='js/demo/chart-pie-demo.js')}}"></script>
    <script src="{{url_for('static', filename='js/demo/chart-bar-demo.js')}}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script>
      $(document).ready(function () {
        $("#data").DataTable({
          scrollY: 450,
          scrollX: true,
        });

        var table = $("#data").DataTable();
        // #column3_search is a <input type="text"> element
        $("#column3_search").on("keyup", function () {
          table.columns(15).search(this.value).draw();
        });
      });
    </script>
  </body>
</html>
